<br>
<br>
<div class="container">
	<form action="/new" class="form-inline" method="post">
		<input type="text" placeholder="Your first name" name="name" >
	  <input type="text" placeholder="Your last name" name="lastname" >
	  <input type="text" placeholder="Your age" name="age" >
		<input type="text" placeholder="Your code" name="code" >
		<button type="submit" class="btn btn-primary">Take it</button>
	</form> 
</div>